.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d2{
  text-align: left;
}
.logo{
  width:300px;
}
body{
    background-color: #F6E6D6;
    color: #6e3e60;

}
.navBar {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 10px 0;
}

.navBar ul {
  list-style-type: none;
  padding: 0;
}

.navBar ul li {
  display: inline;
  margin-right: 20px; /* Adjust spacing between navigation items */
}

.navBar ul li a {
  color: #f6e6d6; /* Adjust color of navigation links */
  padding: 8px 16px; /* Add padding to create space around the link text */
  border-radius: 5px; /* Add border radius to create rounded corners */
  background-color: #6e3e60; /* Add background color to the link container */
  font-size: 30px;
  margin: 0 15px;
  text-decoration: none;
}

.navBar a:hover {
  text-decoration: underline;
}