/* InterestPage.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
}

.banner-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
}



main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
}

.section-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.section-image {
  width: 100%;
  max-width: 300px;
  margin-right: 20px;
  border-radius: 8px;
}

.section-content p, .section-content ul {
  flex: 1;
  margin: 0;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
